<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OwnerLoginControler</servlet-name>
        <servlet-class>controler.account.AccountLoginControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControler</servlet-name>
        <servlet-class>controler.bill.SearchControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBillControler</servlet-name>
        <servlet-class>controler.bill.InsertControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBillControler</servlet-name>
        <servlet-class>controler.bill.EditControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchWorkerControler</servlet-name>
        <servlet-class>controler.worker.SearchControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertWorkerControler</servlet-name>
        <servlet-class>controler.worker.InsertControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWorkerControler</servlet-name>
        <servlet-class>controler.worker.EditControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWorkerControler</servlet-name>
        <servlet-class>controler.worker.DeleteControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductControler</servlet-name>
        <servlet-class>controler.product.SearchControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductControler</servlet-name>
        <servlet-class>controler.product.InsertControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductControler</servlet-name>
        <servlet-class>controler.product.EditControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductControler</servlet-name>
        <servlet-class>controler.product.DeleteControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchManufactorControler</servlet-name>
        <servlet-class>controler.manufacture.SearchControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBillControler</servlet-name>
        <servlet-class>controler.manufacture.ListBillControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportDetailControler</servlet-name>
        <servlet-class>controler.manufacture.ExportControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDetailControler</servlet-name>
        <servlet-class>controler.manufacture.InsertControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportInventoryControler</servlet-name>
        <servlet-class>controler.report.ReportInventoryControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportWorkerSalary</servlet-name>
        <servlet-class>controler.report.ReportWorkerSalary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportSalaryControler</servlet-name>
        <servlet-class>controler.report.ReportSalaryControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBillControler</servlet-name>
        <servlet-class>controler.bill.DeleteControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditManuControler</servlet-name>
        <servlet-class>controler.manufacture.EditControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteManuDetailControler</servlet-name>
        <servlet-class>controler.manufacture.DeleteControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportCost</servlet-name>
        <servlet-class>controler.report.ReportCost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAssetsControler</servlet-name>
        <servlet-class>controler.report.ReportAssetsControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WasteReportControler</servlet-name>
        <servlet-class>controler.report.WasteReportControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountRegisterControler</servlet-name>
        <servlet-class>controler.account.AccountRegisterControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControler</servlet-name>
        <servlet-class>controler.account.LogoutControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountEditControler</servlet-name>
        <servlet-class>controler.account.AccountEditControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListControler</servlet-name>
        <servlet-class>controler.account.ListControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchControler</servlet-name>
        <url-pattern>/bill/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBillControler</servlet-name>
        <url-pattern>/bill/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBillControler</servlet-name>
        <url-pattern>/bill/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchWorkerControler</servlet-name>
        <url-pattern>/worker/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertWorkerControler</servlet-name>
        <url-pattern>/worker/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWorkerControler</servlet-name>
        <url-pattern>/worker/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWorkerControler</servlet-name>
        <url-pattern>/worker/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductControler</servlet-name>
        <url-pattern>/product/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductControler</servlet-name>
        <url-pattern>/product/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductControler</servlet-name>
        <url-pattern>/product/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductControler</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchManufactorControler</servlet-name>
        <url-pattern>/manufacture/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBillControler</servlet-name>
        <url-pattern>/manufacture/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportDetailControler</servlet-name>
        <url-pattern>/manufacture/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDetailControler</servlet-name>
        <url-pattern>/manufacture/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportInventoryControler</servlet-name>
        <url-pattern>/report/inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportWorkerSalary</servlet-name>
        <url-pattern>/report/workersalary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportSalaryControler</servlet-name>
        <url-pattern>/report/salary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBillControler</servlet-name>
        <url-pattern>/bill/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditManuControler</servlet-name>
        <url-pattern>/manufacture/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteManuDetailControler</servlet-name>
        <url-pattern>/manufacture/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerLoginControler</servlet-name>
        <url-pattern>/account/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportCost</servlet-name>
        <url-pattern>/report/cost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAssetsControler</servlet-name>
        <url-pattern>/report/assets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WasteReportControler</servlet-name>
        <url-pattern>/report/waste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountRegisterControler</servlet-name>
        <url-pattern>/account/register</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/account/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LogoutControler</servlet-name>
        <url-pattern>/account/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountEditControler</servlet-name>
        <url-pattern>/account/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListControler</servlet-name>
        <url-pattern>/account/list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
