/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2022, 10:25:31 PM
    Author     : ADMIN
*/

.row-container {
    border: 1px solid black;
}

.background {
    background: #0099ff
}